body{
    background-color: rgb(2, 43, 64);
    color: white;
    margin: 60px;
    text-align: justify;
}
h1{
    text-align: center;
    background-color: rgb(5, 55, 30);
    background-size: 2000px;
}
hr{
    color: rgb(12, 16, 51);
}
table{
    width: 1000px;
    border-collapse: collapse;
    margin-left: 200px;

}
tr,td{
    border: 3px solid black;
    height: 15px;
    padding: 10px;
    
    background-color: rgb(8, 47, 47);
    text-align: center;
    

}
tr:hover{
    background-color:darkgreen;
    color: white
}
a{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    background-color: rgb(33, 4, 60);
    padding: 5px;
    width: 10px;
}
a:hover{
    background-color: navy;
    border: 2px solid rgb(7, 255, 81);
}
h4{
    text-align: center;
}
ol{
    display: inline-block;
    margin-left: 300px;
}
ul{
    display: inline-block;
    margin-left: 300px;
}
dl{
    display: inline-block;
    margin-left: 300px;
}
.hi{
    display: inline-block;
    margin-left: 300px;
}

